# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
config.yaml
!scripts/demo_dataset/config.yaml

# Poetry
poetry.lock
.pypoetry.cfg

data
graphrag_output

.claude
.gemini
.serena

CLAUDE.md